<a href="https://colab.research.google.com/github/Sonaxy/Python-Programming-Basics/blob/main/1_Python_101_Variables_Assignment%2C_Math_Ops%2C_Precedence%2C_and_Print_Get_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. VARIABLES ASSIGNMENT

In [ ]:
# Define a variable named "portfolio_1" and assign a number (integer) to it
portfolio_1 = 2000

In [ ]:
# Let's view "portfolio_1"
portfolio_1

2000

In [ ]:
# Define a variable named "portfolio_2" and assign a number (float) to it
portfolio_2 = 159.12

In [ ]:
# Let's view "portfolio_2"
portfolio_2

159.12

In [ ]:
# Let's overwrite "portfolio_2" (assume your portfolio value increased)
portfolio_2 = portfolio_2 + 100

In [ ]:
# Notice that "portfolio_2" will only contain the most recent value
portfolio_2

259.12

In [ ]:
# Get the type of "portfolio_1" which is integer
# integer is a whole number (no decimals) that could be positive or negative
type(portfolio_1)

int

In [ ]:
# Get the type of "portfolio_2" which is float
# Float are real numbers with a decimal point dividing the integer and fractional parts
type(portfolio_2)

float

**MINI CHALLENGE #1:**
- **We defined a variable AMZN (Ticker symbol for Amazon stock) and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells**



```
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN
```

In [ ]:
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN

3530

**MINI CHALLENGE #2:**
- **We defined a variable AAPL (Ticker symbol for Apple stock) and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells**



```
AAPL = 112
AAPL = 115.3
type(AAPL)
```

In [ ]:
AAPL = 112
AAPL = 115.3
type(AAPL)

float

# 2. MATH OPERATIONS

In [ ]:
# Define a variable named AAPL and initialize it with 5 indicating that we own 5 stocks
# Let's assume that we bought an additional stock so now we have 6 stocks instead of 5
# We can increment AAPL by 1 stock as follows:
AAPL = 5
AAPL = AAPL + 1
AAPL

6

In [ ]:
# Alternatively, we can increment the variable AAPL by 1 as follows:
AAPL = 5
AAPL +=1
AAPL

6

In [ ]:
# Let's assume that the price of AAPL stock is $260 and we currently have 5 AAPL stocks in our portfolio
# We can calculate the total portfolio value (account balance) as follows:
AAPL_Stock = 5
AAPL_Price = 260
AAPL_Portfolio = AAPL_Stock * AAPL_Price
AAPL_Portfolio

1300

In [ ]:
# Let's assume you have $20000 USD in our account
# We want to buy AMZN stocks using the total amount
# AMZN stock is priced at $3116 each

balance = 20000
AMZN_Price = 3116

6.418485237483954

In [ ]:
# Divide the account balance by Amazon stock price and place the answer in units
AMZN_Stock = balance/AMZN_Price
AMZN_Stock

6.418485237483954

**MINI CHALLENGE #3:**
- **Write a code that calculates the total value of a portfolio assuming that you own 15 Google stocks (Sticker Symbol: GOOG) priced at 1500 each**

In [ ]:
GOOG_Stock = 15
GOOG_price = 1500
GOOG_portfolio = GOOG_Stock * GOOG_price
GOOG_portfolio

22500

**MINI CHALLENGE #4:**
- **Write a code that takes in Google (GOOG) stock prices at two days and calculate the return:**
  - **GOOG price on day 1 = \$260**
  - **GOOG price on day 2 = \$280**

In [ ]:
GOOG_price_1 = 260
GOOG_price_2 = 280

price_diff = GOOG_price_2 - GOOG_price_1
price_diff

20

In [ ]:
percentage_change = (price_diff/GOOG_price_1) * 100
percentage_change

7.6923076923076925

# 3. ORDER OF OPERATIONS (PRECEDENCE)

In [ ]:
# add 3 and 4 and then multiply the answer by 5
# Note that parantheses have the highest precedence
(3 + 4)*5

35

In [ ]:
# Multiplication has higher precedence compared to addition

In [ ]:
# Division has higher precedence compared to addition

**MINI CHALLENGE #5:**
- **Assume that you own 15 shares of AAPL stock priced at \$150 a share. Apple announced the launch of 5 new products with exceptional features so the stock price increased to $170 a share. Calculate the total profit.**

In [ ]:
AAPL_Stock = 15
AAPL_Price_1 = 150
AAPL_Price_2 = 170

Profit = (AAPL_Price_2 - AAPL_Price_1) * AAPL_Stock
Profit

300

**MINI CHALLENGE #6:**
- **Write a code that performs the following mathematical operation: z = |x − y| * (x + y)**

In [ ]:
x = 4
y = 5
z = (abs(x - y)) * (x+y)
z

9

# 4. PRINT OPERATION

In [ ]:
# Print function is used to print elements on the screen
# Define a string x
# A string in Python is a sequence of characters
# String in python are surrounded by single or double quotation marks
x = 'Python'
x

'Python'

In [ ]:
# Obtain the data type for 'x'
type(x)

str

In [ ]:
# Print x
print(x)

Python

In [ ]:
# Define a string and put 'Apple Inc.' in it
y = 'Apple Inc.'

In [ ]:
# The format() method formats the specified value and insert it in the placeholder.
# The placeholder is defined using curly braces: {}
print('Ticker name for {} is AAPL'.format(y))

Ticker name for Apple Inc. is AAPL

In [ ]:
shares = 30

In [ ]:
# You can place two or more placeholders with print function
print('I own {} shares of {}'.format(shares,y))

I own 30 shares of Apple Inc.

**MINI CHALLENGE #7:**
- **Write a code that print out the above statement along with AAPL ticker**
- **i.e.: I own 30 shares of Apple Inc.(AAPL)**

In [ ]:
ticker = 'AAPL'
print('I own {} shares of {}({})'.format(shares,y,ticker))

I own 30 shares of Apple Inc.(AAPL)

# 5. GET USER INPUT

In [2]:
# input is a built-in function in python
# Get bank client name as an input and print it out on the screen
clientname = input("Welcome to the bank, your name please: ")

Welcome to the bank, your name please: XYZ

In [3]:
clientname

'XYZ'

In [4]:
# Obtain bank client data such as name, age and assets and print them all out on the screen
print('Welcome to The Bank')
clientname = input("Please enter your name: ")
age = input("Please enter your age: ")
assets = input("Please enter your networth: ")

print("My name is {}. I am {} years old. And my current networth is {}".format(clientname,age,assets))

Welcome to The Bank
Please enter your name: Sonaxy Mohanty
Please enter your age: 31
Please enter your networth: 4000
My name is Sonaxy Mohanty. I am 31 years old. And my current networth is 4000

In [ ]:
# Obtain user inputs, perform mathematical operation, and print the results
# Note: Are you getting an error? Move to the next code cell
x = input('Enter price of AAPL stock today: ')
y = input('Enter the #stocks you want to buy: ')

print('Total funds required to buy {} shares of AAPL stock at ${} each is {}'.format(y,x,x*y))

In [6]:
# Convert from string datatype to integer datatype prior to performing addition
x = input('Enter price of AAPL stock today: ')
x = int(x)
y = input('Enter the #stocks you want to buy: ')
y = int(y)

print('Total funds required to buy {} shares of AAPL stock at ${} each is ${}'.format(y,x,x*y))

Enter price of AAPL stock today: 200
Enter the #stocks you want to buy: 30
Total funds required to buy 30 shares of AAPL stock at $200 each is $6000

**MINI CHALLENGE #8:**
- **Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:**

  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is 15000

In [9]:
name = input('Enter the name of the stock you want to own: ')
price = input('Enter the price at which the stock is selling: ')
price = int(price)
stocks = input('Enter the number of stocks that you want to own: ')
stocks = int(stocks)

print('Total funds required to buy {} stocks of {} at ${} each is ${}'.format(stocks,name,price,stocks*price))

Enter the name of the stock you want to own: GOOG
Enter the price at which the stock is selling: 300
Enter the number of stocks that you want to own: 30
Total funds required to buy 30 stocks of GOOG at $300 each is $9000

# EXCELLENT JOB

# MINI CHALLENGES SOLUTIONS

**MINI CHALLENGE #1:**
- **We defined a variable AMZN (Ticker symbol for Amazon stock) and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells**



```
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN
```

In [ ]:
# The output of this code is 3530
# Initially we put 3324 in AMZN, then we overwrite it by placing 3400 in AMZN, and then 3530 in AMZN
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN

**MINI CHALLENGE #2:**
- **We defined a variable AAPL (Ticker symbol for Apple stock) and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells**



```
AAPL = 112
AAPL = 115.3
type(AAPL)
```

In [ ]:
AAPL = 112
AAPL = 115.3
type(AAPL)

**MINI CHALLENGE #3 SOLUTION:**
- **Write a code that calculates the total value of a portfolio assuming that you own 15 Google stocks (Sticker Symbol: GOOG) priced at 1500 each**

In [ ]:
price  = 1500
x  = 15
amount = x * price
amount

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that takes in Google (GOOG) stock prices at two days and calculate the return:**
  - **GOOG price on day 1 = \$260**
  - **GOOG price on day 2 = \$280**

In [ ]:
GOOG_price_1 = 260
GOOG_price_2 = 280

price_diff = GOOG_price_2 - GOOG_price_1
percentage_change = price_diff / GOOG_price_1 * 100

percentage_change

**MINI CHALLENGE #5 SOLUTION:**
- **Assume that you own 15 shares of AAPL stock priced at \$150 a share. Apple announced the launch of 5 new products with exceptional features so the stock price increased to $170 a share. Calculate the total profit.**

In [ ]:
AAPL_new = 170
AAPL_old = 150
num_shares = 15
profit = (AAPL_new - AAPL_old) * num_shares
profit

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that performs the following mathematical operation: z = |x − y| * (x + y)**

In [ ]:
x = 4
y = 2
z = abs(x-y) * (x+y)

**MINI CHALLENGE #7 SOLUTION:**
- **Write a code that print out the above statement along with AAPL ticker**
- **i.e.: I own 30 shares of Apple Inc.(AAPL)**

In [ ]:
ticker = 'AAPL'
print("I own {} shares of {}({})".format(shares, company_name, ticker))

**MINI CHALLENGE #8 SOLUTION:**
- **Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:**

  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is 15000

In [ ]:
x = input("Enter the price of the stock you want to buy: ")
x = int(x)
y = input("Enter the number of stocks that you want to buy: ")
y = int(y)
z = input("Enter the name of the stock that you want to buy: ")
print('The total funds required to buy {} number of {} stocks at {} is {}'.format(y,z,x, x*y))