<a href="https://colab.research.google.com/github/Sonaxy/Python-Programming-Basics/blob/main/2_Python_101_Data_Types_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BOOLEANS

In [ ]:
# Boolean values can be represented as one of two constant objects "False" and "True".
# Booleans behave like integers 0 and 1.

True

False

In [ ]:
stock1_price = 100
stock2_price = 200

print(stock1_price == stock2_price)

False

**MINI CHALLENGE #1:**
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [ ]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

# 2. LIST

In [ ]:
# A list is a collection which is ordered and changeable.
# List allows duplicate members.
my_list = [1,2,3]
my_list

[1, 2, 3]

In [ ]:
# Obtain the datatype
type(my_list)

list

In [ ]:
# list with mixed datatypes (for example you can have strings and integers in one list)
my_list = [2, 'GOOG', 5]
my_list

[2, 'GOOG', 5]

In [ ]:
# You can have a list inside another list (nested list)
my_list = ['GOOG', [30, 200, 6000]]
my_list

[30, 200, 6000]

In [ ]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
my_list[0]

'GOOG'

In [ ]:
# indexing for nested lists
my_list[1][1]

200

In [ ]:
# Negative Indexing
my_list=[2, 'AAPL', 300]
my_list[-1]

300

In [ ]:
# List Slicing (getting more than one element from a list)
my_list = [2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]
# obtain elements starting from index 3 up to and not including element with index 6
my_list[3:6]

['GOOG', 'SP500', 'AMZN']

In [ ]:
# Obtain elements starting from index 3 to end
my_list[3:]

['GOOG', 'SP500', 'AMZN', 15]

In [ ]:
# All elements start to end
my_list

[2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]

In [ ]:
# Obtain the length of the list (how many elements in the list)
len(my_list)

7

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [ ]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
#Print the first, second and last element in the list below
print(stocks[0])
print(stocks[1])
print(stocks[-1])

#Print all elements in the list, first 3 elements, and last three elements
print(stocks)
print(stocks[0:3])
print(stocks[4:])

GOOG
TSLA
EUR/USD
['GOOG', 'TSLA', 'AAPL', 'T', 'SP500', 'BTC', 'EUR/USD']
['GOOG', 'TSLA', 'AAPL']
['SP500', 'BTC', 'EUR/USD']

**MINI CHALLENGE #3:**
- **Print GOOG**
- **Print AAPL, GOOG, TSLA**
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [ ]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
#Print GOOG
print(my_list[1][1])

#Print AAPL, GOOG, TSLA
print(my_list[1])

#Print T with two different ways
print(my_list[-1])
print(my_list[3])

GOOG
['AAPL', 'GOOG', 'TSLA']
T
T

# 3. DICTIONARY

In [ ]:
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
# Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be.
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys

# Define a dictionary using key-value pairs
my_dict = {'key1':'value1',
           'key2':'value2',
           'key3':'value3'
           }

In [ ]:
# View the dictionary
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [ ]:
# Check the data type
type(my_dict)

dict

In [ ]:
# Access specific element in the dictionary using a specific key (ex: Key2)
my_dict['key2']

'value2'

In [ ]:
# Define a dictionary for a bank client listing all his/her assets!
client_assets = {'Real estate': 150000, 'stocks':10000, 'savings':'20000'}
client_assets

{'Real estate': 150000, 'stocks': 10000, 'savings': '20000'}

In [ ]:
# Access elements in the dictionary
client_assets['stocks']

10000

In [ ]:
# Add a new item to an existing dictionary
client_assets['Crypto'] = 1500
print(client_assets)

{'Real estate': 150000, 'stocks': 10000, 'savings': '20000', 'Crypto': 1500}

In [ ]:
# remove an item from the dictionary
del client_assets['savings']
print(client_assets)

{'Real estate': 150000, 'stocks': 10000, 'Crypto': 1500}

In [ ]:
# delete the entire dictionary
# Note that you cannot print it out again because the entire dictionary has been deleted
del client_assets

**MINI CHALLENGE #4:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [ ]:
stocks = {'AAPL':1500, 'GOOG':2000, 'T':100}
print(stocks)

{'AAPL': 1500, 'GOOG': 2000, 'T': 100}

# 4. STRINGS

In [ ]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotes
my_string = 'Hello Everyone and Welcome to Python for finance course!'
my_string

'Hello Everyone and Welcome to Python for finance course!'

In [ ]:
# Obtain the datatype
type(my_string)

str

In [ ]:
# Combining two strings together (Let's combine the first and last name of a bank's client)
first_name = 'Sonaxy'
last_name = 'Mohanty'
full_name = first_name + last_name
full_name

'SonaxyMohanty'

In [ ]:
# You can combine both strings together and add spaces in between
full_name = first_name + ' ' + last_name
full_name

'Sonaxy Mohanty'

In [ ]:
# Methods on strings
# upper will be used to convert the string into upper case
my_string.upper()

'HELLO EVERYONE AND WELCOME TO PYTHON FOR FINANCE COURSE!'

In [ ]:
# Split us used to divide up the string into words
# The output from split is a list
x = my_string.split()
x

['Hello',
 'Everyone',
 'and',
 'Welcome',
 'to',
 'Python',
 'for',
 'finance',
 'course!']

In [ ]:
# Let's check that the datatype is list!
type(x)

list

In [ ]:
# you can index any element in the list using indexing
x[1]

'Everyone'

In [ ]:
# you can specify which letter could be choosed to perform the split
my_string = 'sonaxy.mohanty2012@gmail.com'
z = my_string.split('@')
z

['sonaxy.mohanty2012', 'gmail.com']

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [ ]:
feedback = str(input('Please enter your feedback regarding the service'))
feedback

z = feedback.split()
print('Here are the words that you entered:', z)

Please enter your feedback regarding the serviceI had a good experience regarding the service.
Here are the words that you entered: ['I', 'had', 'a', 'good', 'experience', 'regarding', 'the', 'service.']

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [ ]:
email = str(input('Please enter your e-mail as firstname.lastname@domain.com: '))
email

words = email.split('.')
print(words)
firstname = words[0]
print('Your firstname is:', firstname)

Please enter your e-mail as firstname.lastname@domain.com: v.s@gmail.com
['v', 's@gmail', 'com']
Your firstname is: v

# 5. TUPLES

In [ ]:
# A tuple is a sequence of immutable Python objects.
# Tuples are sequences, just like lists.
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [1]:
tuple_1 = ('GOOG', 'AAPL', 'AMZN')

In [3]:
tuple_1
type(tuple_1)

tuple

In [4]:
# Accessing elements in a tuple
tuple_1[1]

'AAPL'

In [5]:
# Tuple slicing
tuple_1[1:]

('AAPL', 'AMZN')

In [6]:
# Changing a vlue of a tuple does not work!
# 'tuple' object does not support item assignment
tuple_1[2] = 10

TypeError: ignored

In [7]:
# Create a New Tuple from existing Tuples
tuple_2 = (10, 13, 28)
tuple_3 = tuple_1 + tuple_2

tuple_3

('GOOG', 'AAPL', 'AMZN', 10, 13, 28)

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [8]:
tuple_me = ('Sonaxy', 'Mohanty', 31, 28)
print(tuple_me)

print(len(tuple_me))

print(type(tuple_me))

('Sonaxy', 'Mohanty', 31, 28)
4
<class 'tuple'>

# 6. SETS

In [9]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers
set_1 = {'GOOG', 'AAPL', 'AMZN'}
print(set_1)

{'AMZN', 'AAPL', 'GOOG'}

In [10]:
# set do not have duplicates
set_1 = {'GOOG', 'AAPL', 'AMZN', 'GOOG', 'TESLA'}
print(set_1)

{'AMZN', 'AAPL', 'GOOG', 'TESLA'}

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [18]:
my_list = ['GOOG', 'AAPL', 'T','TSLA','T','AAPL', 5, 6,5]

my_list = set(my_list)
my_list

{5, 6, 'AAPL', 'GOOG', 'T', 'TSLA'}

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [ ]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Print the first, second and last element in the list**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [ ]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

In [ ]:
print(stocks[:])
print(stocks[0:3])
print(stocks[4:])

**MINI CHALLENGE #3 SOLUTION:**
- **Print GOOG**
- **Print AAPL, GOOG, TSLA**
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [ ]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [ ]:
print(my_list[1][1])

GOOG

In [ ]:
print(my_list[1])

['AAPL', 'GOOG', 'TSLA']

In [ ]:
print(my_list[3])

T

In [ ]:
print(my_list[-1])

T

**MINI CHALLENGE #4 SOLUTION:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [ ]:
stocks = {"SP500": 3000,
          "AAPL": 400,
          "TSLA": 2200}
print(stocks)

{'SP500': 3000, 'AAPL': 400, 'TSLA': 2200}

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [ ]:
my_string = str(input("What did we do at the bank today? are you satisfied with the service"))
words = my_string.split(" ")
print("Here are the list of words you entered:", words)

What did we do at the bank today? are you satisfied with the serviceMy experience today was positive, the service is perfect! great job everyone
Here are the list of words you entered: ['My', 'experience', 'today', 'was', 'positive,', 'the', 'service', 'is', 'perfect!', 'great', 'job', 'everyone']

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [ ]:
input_str = input("Welcome to the bank, please enter your e-mail address:")
out_str = input_str.split('@')
out_str = out_str[0].split('.')
print(out_str[0])

Enter your e-mail address:ryan.ahmed@yahoo.com
ryan

**MINI CHALLENGE #7 SOLUTION:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [ ]:
my_tuple = ("Ryan", "ahmed", 25, 10)
print(my_tuple)

('Ryan', 'ahmed', 25, 10)

In [ ]:
len(my_tuple)

4

In [ ]:
type(my_tuple)

tuple

**MINI CHALLENGE #8 SOLUTION:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [ ]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6, 5]
out_list = list(set(my_list))
print(out_list)

[5, 6, 'T', 'APPL', 'GOOG', 'TSLA', 'AAPL']