<a href="https://colab.research.google.com/github/Sonaxy/Python-Programming-Basics/blob/main/3_Comparison_LogicalOperators_ConditionalStatements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. COMPARISON OPERATORS

In [ ]:
# Comparison Operator output could be "True" or "False"
# Let's cover equal '==' comparison operator first
# It's simply a question: "Is stock_1_price equals stock_2_price or not?"
# "True" output means condition is satisfied
# "False" output means Condition is not satisfied (condition is not true)

stock1_price = 1000
stock2_price = 1000
stock1_price == stock2_price

True

In [ ]:
# Greater than or equal operator '>='
stock2_price = 500

stock2_price >= stock1_price

False

In [ ]:
# Note that '==' is a comparison operator
# Note that '=' is used for variable assignment (put 10 in stock_1_price)

10

In [ ]:
# Comparison operators work with strings as well
'Finance' == 'Finance'

True

In [ ]:
# Both strings have to exactly match (lower case vs. upper case)
'Finance' == 'finance'

False

In [ ]:
# Not equal comparison operator '!='

stock1_price != stock2_price

True

**MINI CHALLENGE #1:**
- **Without executing the code cell, What will this code generate?**

```
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price)
print(stock_1_price != stock_2_price)
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price)
```

In [ ]:
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price)
print(stock_1_price != stock_2_price)
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price)

False
True
True
False

# 2. LOGICAL OPERATORS

In [ ]:
# For "and" logical operators, both arguments must be "True" in order for the output to be "True"
# (Note that this is the only case in which the 'and' logical operator generates a True output)
# 1 and 1 = 1
True and True

True

In [ ]:
# 0 and 1 = 0
False and True

False

In [ ]:
# 0 and 0 = 0
False and False

False

In [ ]:
# For "or" logical operators, if any one of the arguments is "True", the output will be "True"
# 1 or 1 = 1
True or True

True

In [ ]:
# 1 or 0 = 1
True or False

True

In [ ]:
# 0 or 1 = 1
False or True

True

In [ ]:
# 0 or 0 = 0 (Note that this is the only case in which the 'or' logical operator generates a False output)
False or False

False

In [ ]:
 # True and False = False
(10 > 3) and (9 == 3)

False

In [ ]:
# True or False = True
(9 > 3) or (12 == 10)

True

**MINI CHALLENGE #2:**
- **Without executing the code cell, What will these two lines of code generate?**

```
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20))
```

```
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25))
```

In [ ]:
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20))
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25))

False
True

**MINI CHALLENGE #3:**
- **Without executing the code cell, What will these two lines of code generate?**

```
a = 5
b = 3.5

print(a == b or a != b)
print(a == b and a != b)
```

In [ ]:
a = 5
b = 3.5

print(a == b or a != b)
print(a == b and a != b)

True
False

# 3. CONDITIONAL STATEMENTS

- A simple if-else statement is written in Python as follows:

```
if condition:
  statement #1
else:
  statement #2
```

- If the condition is true, execute the first indented statement
- if the condition is not true, then execute the else indented statements.
- Note that Python uses indentation (whitespace) to indicate code sections and scope.

In [ ]:
if 10>9:
  print('If condition is True')
else:
  print('If condition is False')

If condition is True

In [ ]:
if 5==10:
  print('If condition is True')
else:
  print('If condition is False')

If condition is False

In [ ]:
if 5==7:
  print('First condition is True')
elif 2==4:
  print('Second condition is True')
else:
  print('Last condition is True')

Last condition is True

In [ ]:
from IPython.core import inputtransformer2
# Let's take an input from the user and grant or deny access accordingly
role = input('Enter your role: ')

if role == 'Data Scientist':
  print('Access Granted')
else:
  print('{} do not have permission'.format(role))

Enter your role:Data Scientist
Access Granted

In [ ]:
# Let's make the code more robust (case insensitive)
name = input('Enter your name: ')

if name == 'Sonaxy' or name == 'SONAXY' or name == 'sonaxy':
  print('Access Granted')
else:
  print('Access Denied')

Enter your name: Sonaxy
Access Granted

**MINI CHALLENGE #4:**
- **Write a code that takes a number from the user and indicates if it's positive or negative**

In [ ]:
number = input('Enter a number: ')
number = int(number)

if number>0:
  print('Positive number')
elif number == 0:
  print('Zero')
else:
  print('Negative number')

Enter a number: 0
Zero

**MINI CHALLENGE #5:**
- **Write a code that takes a number from the user and checks if the number is divisible by 3 but is not a multiple of 7**

In [ ]:
number = input('Enter a number: ')
number = int(number)

if (number % 3 == 0) and (number % 7 != 0):
  print('Requirements met')
else:
  print('Requirements not met')

Enter a number: 21
Requirements not met

**MINI CHALLENGE #6:**
- **Write a code that takes a number from the user and indicate if the number is even or odd**

In [ ]:
number = input('Enter a number: ')
number = int(number)

if (number % 2 == 0):
  print('{} is even'.format(number))
else:
  print('{} is odd'.format(number))

Enter a number: 11
11 is odd