<a href="https://colab.research.google.com/github/Sonaxy/Python-Programming-Basics/blob/main/4_ForLoop_WhileLoop_Range_ListComprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. FOR LOOPS

In [ ]:
# For loops are used for iterating over a sequence (a list, a tuple, a dictionary, a set, or a string).
# An action can be executed once for each item in a list, tuple of the for loop.
stocks = ['GOOG', 'AAPL', 'T', 'AMZN', 'MGM']

In [ ]:
for i in stocks:
  print(i)

GOOG
AAPL
T
AMZN
MGM

In [ ]:
# you can loop over a string as follows
for i in 'AMAZON':
  print(i)

A
M
A
Z
O
N

**MINI CHALLENGE #1:**
- **Write a code that takes in a string and prints it out on the screen except for any letter 'T'. You can replace the letter 'T' with '*'.**

In [ ]:
str1 = 'TESLA'
for i in str1:
  if i == 'T':
    print('*')
  else:
    print (i)

*
E
S
L
A

In [ ]:
str1 = 'TEXT'
for i in str1:
  if i == 'T':
    print('*')
  else:
    print (i)

*
E
X
*

# 2. RANGE

In [ ]:
# Range() generates a list of numbers, which is used to iterate over with for loops.
# range() is 0-index based, meaning list indexes start at 0, not 1.
# The last integer generated by range() is up to, but not including, last element.
# Example: range(0, 10) generates integers from 0 up to, but not including, 10.
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
# Range of numbers from 1 to 20 with steps of 2
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Reverse the display of the range
for i in reversed(range(5)):
  print(i)

4
3
2
1
0

**MINI CHALLENGE #2:**
- **Write a code that takes in the maximum and minimum limits from the user and prints out even numbers only between the provided range**

In [ ]:
min_limit = int(input("Enter the minimum limit: "))
max_limit = int(input("Enter the maximum limit: "))
for number in range(min_limit, max_limit):
  if number%2 == 0:
    print(number)

Enter the minimum limit: 1
Enter the maximum limit: 10
2
4
6
8

**MINI CHALLENGE #3:**
- **Write a code that generates the following table:**
```
1   1    1
2   4    8
3   9   27
4  16   64
5  25  125
6  36  216
7  49  343
8  64  512
9  81  729
10 100 1000
```

In [ ]:
for i in range(1,11):
  print('{} {} {}'.format(i,i*i,i*i*i))

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000

# 3. WHILE LOOPS

In [ ]:
# While loop can be used to execute a set of statements as long as a certain condition holds true.
i=0

while i<=5:
  print(i)
  i+=1

0
1
2
3
4
5

**MINI CHALLENGE #4:**
- **Write a code that displays numbers from 1 to 30 using for and while loops**

In [ ]:
for i in range(1,31):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
i = 1

while i<=30:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

**MINI CHALLENGE #5:**
- **Create a rolling dice game that assume we have two dice (#1 and #2). The dice is being thrown and a random number is generated everytime. The game should be designed such that it prompts the user to ask if he/she would like to keep playing or exit the game.**

In [ ]:
import random

response = 'y'

while response=='y':
  print('Rolling the dices!')
  print('Dice 1: ', random.randint(1,6))
  print('Dice 2: ', random.randint(1,6))
  response = input("Press y to keep rolling else press n: ")

Rolling the dices!
Dice 1:  6
Dice 2:  5
Press y to keep rolling else press n: y
Rolling the dices!
Dice 1:  3
Dice 2:  4
Press y to keep rolling else press n: y
Rolling the dices!
Dice 1:  2
Dice 2:  3
Press y to keep rolling else press n: n

# 4. BREAK A LOOP

In [ ]:
# break() is used to exit a for loop or a while loop
# continue() is used to skip the current block, and return to the "for" or "while" statement.

In [ ]:
my_list = ['GOOG', 'APPL', 'T', 'TSLA', 'SP500']
my_list

['GOOG', 'APPL', 'T', 'TSLA', 'SP500']

In [ ]:
# print out all elements in the list
for i in my_list:
  print(i)

GOOG
APPL
T
TSLA
SP500

In [ ]:
# print out all elements in the list up until the AT&T stock (Ticker Symbol = T) is detected
for i in my_list:
  print(i)
  if i=='T':
    break

GOOG
APPL
T

In [ ]:
# Print only odd elements and skip even numbers
for i in range(1,11):
  if i%2 == 0:
    continue
  else:
    print(i)

1
3
5
7
9

**MINI CHALLENGE #6:**
- **Write a code that continiously gets data from the user and calculates the average and print out on the screen. The code exits when the user enters 'e'.**

In [ ]:
print('Keep entering number and it will calculate average of the numbers')

n=0
avg=0

while True:
  x = input("Enter a number: ")

  if x == 'e':
    break

  x = int(x)
  n += 1

  avg = ((avg * (n-1))+x)/n
  print("Current average is: {}".format(avg))

Keep entering number and it will calculate average of the numbers
Enter a number: 2
Current average is: 2.0
Enter a number: 4
Current average is: 3.0
Enter a number: 4
Current average is: 3.3333333333333335
Enter a number: e

# 5. NESTED LOOPS

In [ ]:
# Nested loops are loops that exist inside the body of another loop
for x in range(1,3):
  for y in range(1,11):
    print('{} * {} = {}'.format(x, y, x*y))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
# Catalogue of phones and their colors

phone_list = ['iphone', 'samsung']
color_list = ['black', 'white', 'gold']

for phone in phone_list:
  for color in color_list:
    print('{} - {}'.format(phone, color))

iphone - black
iphone - white
iphone - gold
samsung - black
samsung - white
samsung - gold

**MINI CHALLENGE #7:**
- **Write a code that takes in a number (range between 1 and 9) from the user and print out the multiplication table up until that number.**

In [ ]:
number = int(input("Enter a number between 1 and 9: "))

for x in range(1,number+1):
  for y in range(1,11):
    print('{} * {} = {}'.format(x, y, x*y))

Enter a number between 1 and 9: 5
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# 6. LIST COMPREHENSION

In [ ]:
# List comprehension is an elegant tool to transform one list into another list.
# Instead of using loops and append, list comprehension is used to iterate over a list, condition its elements and include them in a new list.

# Let's take a look at the traditional way of taking a list and squaring its elements
list1 = [1, 2, 3, 4, 16, 17, 18, 19]
squared_list = []

for element in list1:
  squared_list.append(element ** 2)

squared_list

[1, 4, 9, 16, 256, 289, 324, 361]

In [ ]:
# List comprehension is a super powerful one line of code!

[element ** 2 for element in list1]

[1, 4, 9, 16, 256, 289, 324, 361]

In [ ]:
# Let's square even numbers only
# We need to insert a condition

# Traditional way
result = []

for element in list1:
  if element % 2 == 0:
    result.append(element ** 2)
result

[4, 16, 256, 324]

In [ ]:
# All this could be done with one line of code as well using List Comprehension

result = [element ** 2  for element in list1 if element % 2 == 0]
result

[4, 16, 256, 324]

**MINI CHALLENGE #8:**
- **Write a code that takes in a list of prices of a stock for the past 7 days and then normalize the prices**

In [ ]:
print("Enter a list of prices of GOOG stock for the past 7 days separated by spaces")
stocks = [int(x)  for x in input().split()]

Enter a list of prices of GOOG stock for the past 7 days separated by spaces
2500 3300 2000 3500 1200 4500 4700

In [ ]:
stocks

[2500, 3300, 2000, 3500, 1200, 4500, 4700]

In [ ]:
# Normalization is dividing the sequence of prices with the first price
normalized_prices = [i/stocks[0]  for i in stocks]

print("Original prices: {} \n Normalized prices: {}".format(stocks, normalized_prices))

Original prices: [2500, 3300, 2000, 3500, 1200, 4500, 4700]
 Normalized prices: [1.0, 1.32, 0.8, 1.4, 0.48, 1.8, 1.88]